@media print {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
       float: left;
  }
  .col-sm-12 {
       width: 100%;
  }
  .col-sm-11 {
       width: 91.66666667%;
  }
  .col-sm-10 {
       width: 83.33333333%;
  }
  .col-sm-9 {
       width: 75%;
  }
  .col-sm-8 {
       width: 66.66666667%;
  }
  .col-sm-7 {
       width: 58.33333333%;
  }
  .col-sm-6 {
       width: 50%;
  }
  .col-sm-5 {
       width: 41.66666667%;
  }
  .col-sm-4 {
       width: 33.33333333%;
  }
  .col-sm-3 {
       width: 25%;
  }
  .col-sm-2 {
       width: 16.66666667%;
  }
  .col-sm-1 {
       width: 8.33333333%;
  }
}

@font-face {
  font-family: WenYue;
  src: url('fonts/WenYue-XinQingNianTi-NC-W8.otf');
}

@font-face {
  font-family: 'Noto Sans Chinese Bold';
  src: url('fonts/NotoSansCJKsc-Bold.otf');
}

@font-face {
  font-family: 'Din Cond Black';
  src: url('fonts/DINCond-Black.otf');
}

.luckydraw {
  overflow: auto;
  font-family: 'Microsoft Yahei';
}

.draw {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  background-color: #000000;
  background-image: url(img/star-bg3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.candidate {
  width: 160px;
  height: 180px;
  box-shadow: 0px 0px 20px rgba(2,223,223,0.5), inset 0px 0px 20px rgba(2,223,223,0.5);
  border: 1px solid rgba(2,223,223,1);
  text-align: center;
  cursor: default;
  font-family: 'Noto Sans Chinese Bold';
}

.candidate .sn {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 36px;
  color: rgba(2,223,223,1);
  font-family: 'Din Cond Black';
}

.candidate .name {
  position: absolute;
  top: 65px;
  left: 0px;
  right: 0px;
  font-size: 36px;
  color: rgba(255,255,255,0.8);
  text-shadow: 0px 0px 20px rgba(2,223,223,0.5);
  width: 100%;
  height: 100%;
  word-wrap: break-word;
  white-space: pre-wrap;
  text-overflow: ellipsis;
}

.candidate .loc {
  position: absolute;
  bottom: 20px;
  left: 0px;
  right: 0px;
  font-size: 20px;
  color: rgba(127,255,255,0.75);
}

.home {
  font-family: WenYue;
  color: #02dfdf;
  text-align: center;
  height: 800px;
}

.home .t1 {
  font-size: 170px;
  margin-top: 150px;
}

.home .t2 {
  font-size: 120px;
}

.home .poweredby {
  position: absolute;
  right: 20px;
  bottom: 60px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Noto Sans Chinese Bold';
}

.home .github {
  position: absolute;
  right: 20px;
  bottom: 40px;
  font-size: 18px;
  font-family: 'Din Cond Black';
}

.title {
  font-family: WenYue;
  color: #02dfdf;
  top: 600px;
  white-space: nowrap;
}

.title .clazz {
  display: inline-block;
  font-size: 320px;
}

.title .round {
  margin-left: 40px;
  display: inline-block;
  font-size: 160px;
}

.form-inline .form-control.form-control-sm.config-add-input {
  width: 90px;
  margin-right: 10px;
}
.oper-container {
  margin-top: 15px;
  margin-bottom: 10px;
}

.oper-container .row {
  margin-bottom: 5px;
}

.ppl-card {
  padding: 10px;
}

video{
  position: fixed;
  right:0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -9999;
  /*灰色调*/
  -webkit-filter:grayscale(40%)
}
